.DS_Store
node_modules
mock/**
!mock/.gitkeep
/tests/e2e/videos/
/tests/e2e/screenshots/
/dist/
/dist
components.d.ts  
auto-imports.d.ts
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/release.json
package-lock.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
