body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 500;
  color: #000000;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
.app-env {
  position: fixed;
  right: 0;
  bottom: 18px;
  z-index: 200;
  padding: 4px 8px;
  font-size: 18px;
  color: white;
  background: #1890ff;
  border-radius: 2px;
  opacity: 0.8;
}
